.app {
  margin: 20px;

  .header_Manager {
    background-color: #ffffff;
    color: #444050;
    padding: 20px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    h1 {
      margin: 0;
      font-size: 24px;
      font-weight: 700;
    }

    button {
      background-color: #7367f0;
      color: #ffffff;
      border: none;
      cursor: pointer;
      padding: 10px 15px;
      border-radius: 5px;
      font-size: 16px;

      &:hover {
        background-color: #7267f0e9;
      }
    }
  }
}